<!-- Projects -->
<div class="row">
  <div class="col-md-9">

  </div>
  <div class="col-md-3">
    I've created some things...
  </div>
</div>

<!-- Resume -->
<div class="row">
  <div class="col-md-3">
    I've done some things...
  </div>
  <div class="col-md-9">

  </div>
</div>

<!-- Contact -->
<div class="row">
  <div class="col-md-12">
    If you would like me to create or do some things for you just send me an e-mail!
  </div>
  <%=  %>
</div>
